/*------------------------------------*\
    Header
\*------------------------------------*/
.header {
    background-color: white;
    padding-top:    1 * $base-spacing-unit;
    padding-bottom: 1 * $base-spacing-unit;
    text-transform: lowercase;
    text-align: center;

    a {
        @extend %typography--reset-links;
    }
}
.header--inverted {
    color: $colour-background;
}
    .header__brand {
        margin-bottom: 0.1 * $base-spacing-unit;

        h1, h2 {
            font-family: $base-font-family;
            font-style: normal;
            font-weight: 400;
            @extend .lede; 
            display: inline;
            color: $base-font-colour;
            letter-spacing: 0.04em;
        }

        h2 {
            font-style: italic;
        }
    }
    .header__dot {
        @extend .brand-color;
        margin-left: -0.1em;
    }
    .header__icon {
        font-size: 1.1em;
        position: relative;
        top: 0.15em;
    }
