/*------------------------------------*\
    Header
\*------------------------------------*/
.header {
    padding-top:    0.25 * $base-spacing-unit;
    padding-bottom: 0.25 * $base-spacing-unit;
    text-transform: lowercase;
    text-align: center;

    @include respond-min-width(30em) {
        padding-top:    0.5 * $base-spacing-unit;
        padding-bottom: 0.5 * $base-spacing-unit;
    }

    @include respond-min-width(40em) {
        padding-top:    1 * $base-spacing-unit;
        padding-bottom: 1 * $base-spacing-unit;
    }

    a {
        @extend %typography--reset-links;
    }
}
.header--inverted {
    color: $colour-background;
}
    .header__brand {
        margin-bottom: 0.1 * $base-spacing-unit;

        h1, h2 {
            font-family: $base-font-family;
            font-style: normal;
            font-weight: 400;
            @include font-size($h3-size);
            display: inline;
            color: $base-font-colour;
            letter-spacing: 0.02em;

            @include respond-min-width(40em) {
                @include font-size($h2-size);
            }
        }

        h2 {
            font-style: italic;
        }
    }
    .header__dot {
        @extend .brand-color;
        margin-left: -0.1em;
    }
    .header__icon {
        font-size: 1.1em;
        position: relative;
        top: 0.15em;
    }
