/*------------------------------------*\
    Section
\*------------------------------------*/
.section {
    padding-top:    0.5 * $base-spacing-unit;
    padding-bottom: 0.5 * $base-spacing-unit;

    @include respond-min-width(40em) {
        padding-top:    1.1 * $base-spacing-unit;
        padding-bottom: 1.1 * $base-spacing-unit;
    }

    @include respond-min-width(60em) {
        padding-top:    2 * $base-spacing-unit;
        padding-bottom: 2 * $base-spacing-unit;
    }
}
.section--main-wrapper {
    padding: 0;
    background-color: $colour-main-wrapper;
}
.section--feature {
    background-color: $colour-def-darker-grey;
    color: $brand-color;
    -webkit-font-smoothing: antialiased;
}
.section--inverted-feature {
    background-color: $brand-color;
    color: $colour-background;
    -webkit-font-smoothing: antialiased;
}
.section--pull-top {
    margin-top: -0.5 * $base-spacing-unit;

    @include respond-min-width(40em) {
        margin-top: -1.1 * $base-spacing-unit;
    }

    @include respond-min-width(60em) {
        margin-top: -2 * $base-spacing-unit;
    }
}
    .section__inner {
        max-width: 60 * $base-spacing-unit;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0.8 * $base-spacing-unit;

        @include respond-min-width(10 * $base-spacing-unit) {
            padding-left:  1 * $base-spacing-unit;
            padding-right: 1 * $base-spacing-unit;
        };

        @include respond-min-width(20 * $base-spacing-unit) {
            padding-left:  1.5 * $base-spacing-unit;
            padding-right: 1.5 * $base-spacing-unit;
        };

        @include respond-min-width(28 * $base-spacing-unit) {
            padding-left:  2 * $base-spacing-unit;
            padding-right: 2 * $base-spacing-unit;
        };
    }
    .section__inner--mid-width {
        max-width: 34 * $base-spacing-unit;
    }
    .section__inner--readable {
        max-width: 22 * $base-spacing-unit;

        @include respond-min-width(28 * $base-spacing-unit) {
            max-width: 23 * $base-spacing-unit;
        };
    }
