/*------------------------------------*\
    Typography
\*------------------------------------*/
body {
    background: $colour-background;
    color: $base-font-colour;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    //font-family: $brand-face;
    //color: $colour-header;
    //font-style: italic;
}

a:link, a:visited, a:hover, a:active, {
    position: relative;
    text-decoration: none;
    color: $colour-link;
}
a:hover {
    //background-color: lighten($colour-link, 40%);
    color: $colour-def-greyblue;
}
a:active {
    //background-color: $colour-link;
    color: $colour-link;
}

.fancy-link {
    &:link, &:visited, &:hover, &:active {
        @include vendor(transition, top .2s ease-out, color 0.1s);
    }
}
    .fancy-link:hover {
        top: -0.1em;
    }
    .fancy-link:active {
        @include vendor(transition, none);
        color: $colour-link;
    }

%typography--feature-links {
    &:link, &:visited {
        color: $colour-background;
    }

    &:hover, &:active {
        color: $brand-color;
    }
}
%typography--reset-links {
    &:link, &:visited, &:hover, &:active {
        border-bottom: 0;
        background: none;
    }
}

.typography--boss {
    @extend .giga;
    letter-spacing: -0.02em;
    line-height: 1.02;
    @extend .brand-face;
    font-weight: 900;
    font-style: italic;
}

.typography--meta {
    color: lighten($base-font-colour, 20%);
    font-size: 0.9em;
}

code {
    font-family: $font-family-monospace;
    font-size: 0.75em;
    background-color: darken($colour-background, 3%);
}

pre {
    @extend .islet;
    background-color: darken($colour-background, 3%);
    line-height: 1.4;
    font-size: 0.9em;

    code {
        display: block;
    }
}


p code {
    display: inline;
    padding: 0.20em 0.4em 0.20em;
    margin: 0 0.2em;
    border: 0.1em solid darken($colour-background, 4%);
}
