
<footer role="contentinfo" class="footer">
    <section class="section">
        <div class="section__inner footer__inner">
            <p class="footer__left">Webontwikkeling </p>
            <a class="footer__middle" rel="me author" href="/" title="mattsenior.com home"><img class="footer__face-in-a-circle-obviously" src="https://www.gravatar.com/avatar/74838fae38c88e23f10018425ab90fb1.jpg?s=150" alt="Matt Senior’s face in a circle obviously"></a>
            <p class="footer__right"> by <a class="footer__author" href="/" rel="me author">Matt Senior</a></p>
        </div>
    </section>
</footer>

{% include scripts.html %}
