<footer role="contentinfo" class="footer">
    <section class="section">
        <div class="section__inner footer__inner">
            <p class="footer__left">Webontwikkeling </p>
            <a class="footer__middle" rel="me author external" href="https://plus.google.com/101426409297412754558?rel=author" title="Matt Senior’s Google+"><img class="footer__face-in-a-circle-obviously" src="http://www.gravatar.com/avatar/74838fae38c88e23f10018425ab90fb1.jpg?s=150" alt="Matt Senior’s face in a circly obviously"></a>
            <p class="footer__right"> by <a class="footer__author" href="http://twitter.com/mattsenior" rel="me author external">Matt Senior</a></p>
        </div>
    </section>
</footer>

{% include scripts.html %}
