---
layout: base
---
<header id="top" role="banner" class="banner--absolute">
    <div class="section__inner">
        <a itemprop="url" href="http://senior.io">
            <hgroup class="banner--inverted__name">
                <h1>Senior<span class="colour--feature">.</span>io</h1>
                <i class="banner__icon icon colour--feature icon--flow-line"></i>
                <h2>Webontwikkeling</h2>
            </hgroup>
        </a>
        
        <a class="nav__burger" href="#nav">Navigation</a>
    </div>
</header>

<nav id="nav" role="navigation" class="nav">
    <h2>Navigation</a>
    <ol class="nav__list">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">Blog</a></li>
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Labs</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
    </ol>
    <a class="nav__close" href="#top">Return to content</a>
</nav>

<article>
    <div class="section section--feature section--no-margin section--gracht banner--absolute__next-sibling">
        <div class="section__inner">
            <div class="section__inner__article-offset">
                <div class="prose--boss prose--feature">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__inner">
            <div class="section__inner__article">
                <div class="prose">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</article>

<section class="section section--inverted-feature section--no-margin">
    <div class="section__inner">
        <div class="section__inner__article">
            <div class="prose--boss prose--inverted-feature prose--centre">
                <p>Groetjes uit Londen</p>
            </div>
        </div>
    </div>
</section>
