---
layout: base
---
<header id="top" role="banner" class="section__inner">
    <a itemprop="url" href="http://senior.io">
        <hgroup class="banner__name">
            <h1>Senior<span class="colour--feature">.</span>io</h1>
            <i class="banner__icon icon colour--feature icon--flow-line"></i>
            <h2>Webontwikkeling</h2>
        </hgroup>
    </a>
    
    <a class="nav__burger" href="#nav">Navigation</a>
</header>

<nav id="nav" role="navigation" class="nav">
    <h2>Navigation</a>
    <ol class="nav__list">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">Blog</a></li>
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Labs</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
    </ol>
    <a class="nav__close" href="#top">Return to content</a>
</nav>

{{ content }}

<section class="section section--inverted-feature section--no-margin">
    <div class="section__inner">
        <div class="prose prose--boss prose--inverted-feature">
            <p>Groetjes uit Londen</p>
        </div>
    </div>
</section>
