<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include header.html %}

        <div role="main" class="section--main-wrapper">
            <section class="section">
                <div class="section__inner section__inner--readable">
                    <p><a href="http://senior.io">Senior.io</a> is a home for Matt Senior’s technowaffle. Matt Senior is the Lead Developer at <a href="http://browserlondon.com">Browser London</a>. Find him on <a href="http://twitter.com/mattsenior" rel="me author external">Twitter</a>, <a href="http://github.com/seniorio" rel="me author external">GitHub</a>, or <a href="https://plus.google.com/101426409297412754558?rel=author" title="Matt Senior’s Google+">Google+</a>.</p>
                    <hr>
                </div>
            </section>

            <section class="section section--pull-top">
                <ol class="article-list">
                    {% for post in site.posts %}
                        <li class="article-list__item">
                            <article>
                                <div class="section__inner section__inner--mid-width">
                                    <a class="article-list__title-link" href="{{ post.url | remove: '.html' }}">
                                        <h1 class="article-list__title">{{ post.title }}</h1>
                                    </a>
                                </div>
                                <div class="section__inner section__inner--readable">
                                    <div class="article-list__meta rule--with-text">
                                        <time class="rule__text article__meta__date" datetime="{{ post.date }}">{{ post.date | date: "%a" }}, {{ post.date | date_to_string }}</time>
                                    </div>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ol>
            </section>
        </div>

        {% include footer.html %}
    </body>
</html>
