<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include header.html %}

        <div role="main" class="section--main-wrapper">
            <section class="section">
                <div class="section__inner section__inner--readable">
		    <div class="media">
		        <a class="media__img intro__face-in-a-circle-obviously" rel="me author external" href="https://twitter.com/mattsenior"><img src="http://www.gravatar.com/avatar/74838fae38c88e23f10018425ab90fb1.jpg?s=500" alt="Matt Senior’s face in a circle obviously"></a>
		        <div class="media__body">
                            <p>
		                <strong>Matt Senior</strong> is a freelance full-stack web developer with a keen eye for detail. Clojure, Go, PHP, JavaScript, etc. Find him on <a href="https://twitter.com/mattsenior" rel="me author external">Twitter</a>, <a href="https://plus.google.com/101426409297412754558?rel=author" title="Matt Senior’s Google+">Google+</a>, <a href="https://github.com/mattsenior" rel="me author external">GitHub</a>, or <a href="https://www.linkedin.com/in/mattsenior" rel="me author external">LinkedIn</a>.
			        <script type="text/javascript">
                                    //<![CDATA[
                                    <!--
                                    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
                                    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
                                    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!55{)rt{y+xx=l;=+;" +
                                    "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
                                    "\"(4),4\\\"\\\\rxiz35\\\\00\\\\00\\\\\\\\\\\\\\\\\\\\\\\\23\\\\07\\\\00\\\\" +
                                    "\\\\VW1[03\\\\\\\\ZD]]BW[D@O_lHI\\\\\\\\\\\\\\\\II2F03\\\\\\\\01\\\\0~\\\\I" +
                                    "Ms~>x'Gkjzv4vN17|17\\\\\\\\ l77\\\\1c\\\\db{lrs:d26\\\\0!\\\\27?&,?\\\\t\\\\"+
                                    "\\\"8\\\\#'%(2e03\\\\\\\\\\\\x\\\\\\\"&\\\\)0^`02\\\\07\\\\03\\\\\\\\24\\\\" +
                                    "0U\\\\\\\\V\\\\\\\\L\\\\D^2B03\\\\\\\\\\\\G\\\\\\\\T\\\\Z]BM\\\\H(\\\"}fo;n" +
                                    " uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=iy+4)=4i=f({i" +
                                    "+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\"" +
                                    ")"                                                                           ;
                                    while(x=eval(x));
                                    //-->
                                    //]]>
                                </script> or <a href="tel:+443333441984">+44 3333 44 1984</a>.
                            </p>
		        </div>
		    </div>
                    <hr>
                </div>
            </section>

            <section class="section section--pull-top">
                <ol class="article-list">
                    {% for post in site.posts %}
                        <li class="article-list__item">
                            <article>
                                <div class="section__inner section__inner--mid-width">
                                    <a class="article-list__title-link" href="{{ post.url | remove: '.html' }}">
                                        <h1 class="article-list__title">{{ post.title }}</h1>
                                    </a>
                                </div>
                                <div class="section__inner section__inner--readable">
                                    <div class="article-list__meta rule--with-text">
                                        <time class="rule__text article__meta__date" datetime="{{ post.date }}">{{ post.date | date: "%a" }}, {{ post.date | date_to_string }}</time>
                                    </div>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ol>
            </section>
        </div>

        {% include footer.html %}
    </body>
</html>
